
 
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
 
 

.header{
    background-image: url(../img/fondo-header.jpg);
    background-position: center;
}

.navbar-brand{
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-primary{
    background-color: black!important;
    border-color: black!important;
    padding: 1rem 2rem 1rem 2rem;
    text-transform: uppercase;
    font-weight: bold;

}

.btn-primary{
    width: -webkit-fill-available;
}

.contact{
    background-image: url(../img/fondo-contacto.jpg);
    background-position: center;
    background-size: cover;
}

.explorar{
    background-image: url(../img/fondo-explorar.jpg);
    background-position: center;
    background-size: cover;
}

.text-box, .text-background{
    background-color:rgba(255,255,255,0.85);
}


.footer  {
	background-color: #000000;
    margin-top: 50px;
	width: 100%;
}
.footer-list {
	display: flex;
    justify-content: center;
	flex-direction: column;
	list-style:none;
	font-size: 16px;
	align-items: center;
	padding: 20px;
	margin-top: 0;
	margin-bottom: 0;

}

.footer-list-item {
    color: white;
	margin-bottom: 15px;
	cursor: pointer;
}

.message{
    font-weight: bold;
    color: rgb(204, 92, 0);
    text-transform: uppercase;
}

 
label{
    font-weight: bold;
}

.form-control:focus{
  
    border-color: rgb(204, 92, 0);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 165 0 / 42%);
}

 
.nosotros{
    background-image: url(../img/fondo-nosotros.jpg);
    background-position: center;
    background-size: cover;
}

a, a:hover, a:focus{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}


  .grilla{
    display: grid;
    margin: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    grid-gap: 1rem;
}  

 figure{
    margin: 0 0 0;
 }
.img-media img{
width: 100%;
}

.item-container{
 border: 1px solid black;
 display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.item-title{
    font-size: 1.50rem;
}

.text-background{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
}